In [2]:
import os
import glob

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl

import pylab as pl

import utils as util
import plotting as putil
import importlib

import scipy.stats as spstats

In [3]:
putil.set_sns_style(style='dark', min_fontsize=12)

In [46]:
def center_trajectories(df):
    # Step 2: Group the data by "exp_id"
    grouped = df.groupby('exp_id')
    # Step 3: Calculate the mean center for each trajectory
    centered_trajectories = []
    for exp_id, group in grouped:
        mean_pos_x = group['pos_x'].mean()
        mean_pos_y = group['pos_y'].mean()
        # Step 4: Subtract the mean values to center the coordinates
        centered_pos_x = group['pos_x'] - mean_pos_x#_global
        centered_pos_y = group['pos_y'] - mean_pos_y#_global
        # Step 5: Update the dataframe with centered coordinates
        group['centered_pos_x'] = centered_pos_x
        group['centered_pos_y'] = centered_pos_y
        centered_trajectories.append(group)
    # Combine the centered trajectories back into one dataframe
    centered_df = pd.concat(centered_trajectories)
    return centered_df

In [4]:
srcdir = '/Users/julianarhee/Documents/rutalab/projects/courtship/2d-projector'
# fname = '20220826_df_FH'
fname = '20220918_df_excluded_FH'
fpath = os.path.join(srcdir, '{}.pkl'.format(fname))
df0=pd.read_pickle(fpath)
df0.shape

(1008000, 112)

In [5]:
figdir = os.path.join(srcdir, fname)
if not os.path.exists(figdir):
    os.makedirs(figdir)
print(figdir)

/Users/julianarhee/Documents/rutalab/projects/courtship/2d-projector/20220918_df_excluded_FH

In [6]:
df0['gtype'].unique()

array(['887', '850', '911', 'splitP1', '821'], dtype=object)

In [45]:
df0['wing_ang_maxmindiff'] = df0['max_wing_ang'] - df0['min_wing_ang']
df0['wing_ang_lrdiff'] = (df0['wing_r_ang'] - df0['wing_l_ang']) % 2*np.pi
for gt, d_ in df0.groupby('gtype'):
    id_lut = dict((v, k) for k, v in enumerate(d_['exp_id'].unique()))
    df0.loc[df0['gtype']==gt, 'flynum'] = [id_lut[i] for i in d_['exp_id']]

df0['exp_ix'] = ['{}_{}'.format(i, v) for i, v in 
                 zip(df0['gtype'].values, df0['flynum'].values)]
# df0['frame_ix'] = df0.groupby(['exp_ix', 'epoch']).cumcount()
#df1 = df0.copy().reset_index(drop=True)
# df0['flynum'] = [s.split('_')[-1] for s in df0['exp_id']]

In [18]:
# n_by_exp = dict(df0.groupby('gtype')['exp_id'].unique())
# n_by_exp['splitP1']

In [27]:
# means = df0.groupby(['exp', 'gtype', 'exp_id', 'flynum'])\
#                 [['vel', 'interdot_dist', 'ang_vel', 'max_wing_ang',
#                  'wing_ang_maxmindiff', 'wing_ang_lrdiff']].mean().reset_index()
# # "means"

In [31]:
# yvar = 'wing_ang_maxmindiff'
yvar = 'interdot_dist' #'interdot_dist'
# df1 = df0.copy().reset_index().drop_duplicates()

# means_pivot = means.pivot_table(index=['gtype', 'flynum'], 
#                         columns='epoch', 
#                         values=yvar).reset_index()
# means_pivot.columns.name = None

means = df0.groupby(['exp', 'gtype', 'exp_ix', 'flynum'])\
                [['vel', 'interdot_dist', 'ang_vel', 'max_wing_ang',
                 'wing_ang_maxmindiff', 'wing_ang_lrdiff']].mean().reset_index()
# "means"

In [43]:
yvars = ['vel', 'interdot_dist', 'ang_vel', 'max_wing_ang',
                 'wing_ang_maxmindiff', 'wing_ang_lrdiff']
d_list=[]
for exp, d_ in means.groupby('gtype'):
    cv_ = spstats.variation(d_[yvars], axis=0)

    m_ = pd.DataFrame(data=spstats.variation(d_[yvar].dropna(), axis=0), 
             columns=['value'], index=[0])
    m_['gtype'] = exp
#     m_['cv'] = 'cv_led' if i==0 else 'cv_id'
    m_['variable'] = yvar #range(len(m_))
    # if CV is for each LED level, range is 0 to 5
    # else CV is for each fly (across LED levels), so range is 0 to N flies
    d_list.append(m_)
cv = pd.concat(d_list, axis=0)

In [44]:
cv #.variation(d_[yvar].dropna())

      value    gtype       variable
0  0.043290      821  interdot_dist
0  0.026363      850  interdot_dist
0  0.194541      887  interdot_dist
0  0.089863      911  interdot_dist
0  0.127275  splitP1  interdot_dist

In [36]:
pd.DataFrame(data=spstats.variation(d_[yvar].dropna(), axis=0), 
             columns=['value'], index=range(d_.shape[0]))

     value
0  0.04329
1  0.04329
2  0.04329
3  0.04329

In [ ]:
df = df0[df0['gtype']=='splitP1']